@font-face {
  font-family: 'montserratregular';
  src: url('../cssDirectory/montserratregular/montserrat-regular-webfont.eot');
  src: url('../cssDirectory/montserratregular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../cssDirectory/montserratregular/montserrat-regular-webfont.woff') format('woff'),
  url('../cssDirectory/montserratregular/montserrat-regular-webfont.ttf') format('truetype'),
  url('../cssDirectory/montserratregular/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratblack';
  src: url('../cssDirectory/montserratblack/montserrat-black-webfont.eot');
  src: url('../cssDirectory/montserratblack/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../cssDirectory/montserratblack/montserrat-black-webfont.woff') format('woff'),
  url('../cssDirectory/montserratblack/montserrat-black-webfont.ttf') format('truetype'),
  url('../cssDirectory/montserratblack/montserrat-black-webfont.svg#montserratblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemibold';
  src: url('../cssDirectory/montserratsemibold/montserrat-semibold-webfont.eot');
  src: url('../cssDirectory/montserratsemibold/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../cssDirectory/montserratsemibold/montserrat-semibold-webfont.woff') format('woff'),
  url('../cssDirectory/montserratsemibold/montserrat-semibold-webfont.ttf') format('truetype'),
  url('../cssDirectory/montserratsemibold/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/img/Background_.png");

}
.deconnexion {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;

}
footer{
  display: table-row;
  background-color: #2b2b2b;
  height: 1px;
}

.footer-container{
  padding: 30px 45px;
  height:auto;
}

body{
  background-color: #eeeeee;
  font-family: "montserratregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.titlePage{
  font-family: "montserratblack", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 20px;
}

.logo{
  margin-bottom: 9px;
}
.container{
  margin-top: 50px;
}

.container.customContainer {
  min-width: 320px;
  margin-bottom: 85px;
}

@media (min-width: 768px) {
  .container.customContainer {
    max-width: 600px;
  }

  .titlePage{
    font-size: 20px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 992px) {
  .container.customContainer {
    max-width: 720px;
  }
  .titlePage{
    font-size: 20px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 1024px) {
  .container.customContainer {
    max-width: 830px;
  }

  .titlePage{
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .container.customContainer {
    max-width: 830px;
  }

  .titlePage{
    font-size: 32px;
  }
}

@media only screen and (max-width: 320px) {

  .titlePage {
    font-size: 1.6em;
  }

  .titleBloc{
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 412px) {

  .titlePage {
    font-size: 1.6em;
  }

  .titleBloc{
    font-size: 1.2em;
  }
}

.navbar-collapse.collapse.sidebar-navbar-collapse{
  min-height: 435px;
  overflow-y: hidden;
}

.titleBloc{
  font-family: "montserratsemibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.titleBloc::after{
  content: '';
  display: block;
  border-bottom: 5px solid #2daae1;
  width: 50px;
  margin-top: 15px;
}

.sidebar-nav{
  overflow-y: auto;
}

ul.nav.navbar-nav{
  overflow-y: hidden;
  height: auto;
}

ul.nav.navbar-nav li{
  padding-left: 10px;
  padding-right: 10px;
  margin-top:5px;
  height: 50px;
  background-color: white;
  border-left: 5px solid white;
}
.navbar.navbar-default{
  background-color: transparent;
  border: 0 none;
}
.navbar-header{
  background-color: white;
}
ul.nav.navbar-nav li.msgAccueil{
  height: 100px;
  background-color: white;
  font-size: 12px;
}

ul.nav.navbar-nav li.msgAccueil .nameUser{
  padding:20px 0px;
  font-family: "montserratsemibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

ul.nav.navbar-nav li.msgAccueil .nameUser .firstName{
  font-size: 18px;
  display: block;
}

.tdPhoto{
  width: 67px;
  float: left;
}
.tdName{
  padding: 10px 0 0 15px;
  overflow: auto;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
}

ul.nav.navbar-nav li.selected{
  border-color: #2daae1;
}

ul.nav.navbar-nav li a{
  text-decoration: none;
  color: black;
}

.blocMenu{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  margin-bottom:5px;
}

.mainBloc{
  padding-top:10px;
  font-size: 14px;
}

#advertizer{
  padding: 20px;
  background-image: url("../../assets/img/block.png");
  background-size: cover;
  font-family: "montserratregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  font-size: 18px;
  font-weight: 600;
}
#linkadvertizer{
  color: white;
  text-decoration: underline;
}

.buttonBlue{
  text-align: center;
  width: 150px;
  font-weight: 700;
  height: 50px;
  border: none;
  color: white;
  background-color: #2daae1;
  -webkit-border-radius: 24px;
  -moz-border-radius:    24px;
  border-radius:         24px;
}

.buttonRight{
  background: url('../../assets/img/edit2.png');
  padding-left:1px;
  margin-top: 20px;
  width: 32px;
  height: 32px;
  background: #2daae1;
  -moz-border-radius:50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float:right;
  cursor: pointer;
  border: none;
}


.blocMenu.commandes{
  padding: 10px 0 10px 0;
}

.blocMenu.commandes #historique{
  padding: 0 35px 0 35px;
  margin-bottom: 20px;
}
.flexList
{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleImg, .article{
  background-color: rgb(219, 219, 219);
}

.divProd .prodImg{
  float: left;
}

.divProd .infoProd{
  overflow: auto;
}

.divProd .infoProd ul{
  list-style: none;
  padding: 0;
}

.articleImg span, .article span{
  font-family: "montserratsemibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media only screen and (max-width: 320px) {
  .articleImg, .article{
    height: 95px;
    margin-bottom: 5px;
  }

  .prodImg img{
    width: 81px;
    height: 95px;
  }

  .articleImg span, .article span{
    font-size: 15px;
  }

  .flexElt.price{
    padding-top: 5px;
  }

  .divProd .infoProd{
    padding-left: 10px;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 412px) {
  .articleImg, .article{
    height: 95px;
    margin-bottom: 5px;
  }

  .prodImg img{
    width: 81px;
    height: 95px;
  }

  .articleImg span, .article span{
    font-size: 15px;
  }

  .flexElt.price{
    padding-top: 5px;
  }

  .divProd .infoProd{
    padding-left: 10px;
    padding-top: 5px;
  }
}

@media (min-width: 412px) {
  .articleImg, .article{
    height: 109px;
    margin-bottom: 5px;
  }

  .articleImg span, .article span{
    font-size: 15px;
  }

  .flexElt.price{
    padding-top: 5px;
  }

  .divProd .infoProd{
    padding-left: 10px;
    padding-top: 5px;
  }
}

@media (min-width: 768px) {
  .articleImg, .article{
    height: 109px;
    margin-bottom: 5px;
  }

  .articleImg span, .article span{
    font-size: 25px;
  }

  .flexElt.price{
    padding-top: 10px;
    padding-right: 50px;
  }

  .divProd .infoProd{
    padding-left: 25px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .articleImg, .article{
    height: 109px;
    margin-bottom: 5px;
  }

  .articleImg span, .article span{
    font-size: 25px;
  }

  .flexElt.price{
    padding-top: 10px;
    padding-right: 50px;
  }

  .divProd .infoProd{
    padding-left: 25px;
    padding-top: 10px;
  }
}

@media (min-width: 1200px) {
  .articleImg, .article{
    height: 109px;
    margin-bottom: 5px;
  }

  .articleImg span, .article span{
    font-size: 25px;
  }

  .flexElt.price{
    padding-top: 10px;
    padding-right: 50px;
  }

  .divProd .infoProd{
    padding-left: 25px;
    padding-top: 10px;
  }
}
